---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";
import Grid from '@/components/ui/Grid.astro'

const { research_areas , key_competencies , skill_list } = profile;
---

<Layout title="Research">
  <div class="prose max-w-none">

      <h2 class="text-2xl font-bold mb-4 text-center">Research Statement</h2>
      <div class="mb-5">
        <p class="text-lg mb-6 text-justify">
        My current research seeks to uncover the key determinants of leukemogenesis in older adults diagnosed with Acute Myeloid Leukemia (AML). I focus on identifying the genetic foundations of disease development and resistance to uncover potential therapeutic interventions. Specifically, I investigate the roles of inflammation and metabolic dysregulation in AML progression and resistance.
        <br><br>
        I am also deeply intrigued by RNA binding proteins and their crucial role in RNA biology, particularly in the establishment and progression of cancers like AML. My research currently explores the impact of RNA splicing in AML patients and its potential implications for disease progression and treatment strategies.
        <br><br>
        Additionally, I leverage advanced bioinformatics and predictive modeling techniques to identify novel risk groups, with the aim of developing more personalized and effective treatments for AML patients.
        </p>
      </div>

      {/*
      <!-- Research areas --> 
       <section class='py-2 border-b'>
        <Grid gridTitle='Research areas' gridItems={research_areas} />
      </section>
      */}

      <!-- Key competencies -->
      
      <section class='py-4 border-b'>
        <Grid gridTitle='Key competencies' gridItems={key_competencies} />
      </section>

      <!-- Research skills -->
      <section class='py-4 border-b'>
        <Grid gridTitle='Skills' gridItems={skill_list} />
      </section>


      {/*
        <h2 class="text-2xl font-bold mb-6">Research Impact</h2>
        <p class="text-lg mb-6">
          My research has opened new frontiers in radioactivity studies, leading to practical applications in both scientific research and medical treatments. The discoveries have revolutionized our understanding of atomic structure and radioactive decay processes.
        </p>
      */}

    {/*
    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                class="size-6 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>
    */}

    {/*
    <List listTitle="Current Projects" listItems={[
      {
        title: "Radioactivity Studies",
        description: "Investigation of radioactive properties in uranium minerals and isolation of new radioactive elements."
      },
      {
        title: "Measurement Techniques",
        description: "Development of precise methods for measuring radioactive emissions and their properties."
      }
    ]} />
    */}

    


  </div>
</Layout>
